## Local .terraform directories
**/.terraform/*
*.terraform*

## .tfstate files
*.tfstate
*.tfstate.*

## .tfvars files
*.tfvars
*.tfvars.json

## Crash log files
crash.log
crash.*.log

## SSL/TLS Keys
*.pem